.project-card {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 600px; /* Set a fixed width for the cards */
  height: 600px; /* Set a fixed height for the cards */
  overflow: auto; /* Add a scrollbar if the content is too big */

 
 
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.bx-cross{
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
  color: #007bff;
  background-color: #eaeaea;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.tag .icon {
  margin-right: 5px;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.subtitle{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.project-card img {
  width: 100%; /* The image will take up the full width of the card */
  height: 250px; /* Set a fixed height for the images */
  object-fit: cover; /* The image will cover the entire area without distortion */
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .project-card {
    width: 200px; /* Further adjust width for smaller screens */
    height: 500px; /* Further adjust height for smaller screens */
  }
  .image {
    display: none;
  }
  .description{
    display: none;
  }
}


.project-card h2 {
  margin-top: 10px;
  color: #333;
  font-size: 24px; /* Adjust font size for smaller screens */


}
@media screen {
  .project-card h2 {
    font-size: 20px; /* Further adjust font size for smaller screens */
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  
}

@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Adjust flex direction for smaller screens */
  }
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px; /* Adjust font size for smaller screens */

 
}

@media screen and (max-width: 768px) {
  .button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px; /* Further adjust font size for smaller screens */
  }
}

.button:hover {
  background-color: #0056b3;
}
